<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    im Header
    <%= yield :header %>
  </div>
  <%= yield %>
  <div class="footer">
    im footer
    <%= yield :footer %>
  </div>
</body>
</html>
